= title _('Log in')

%div.six.columns.centered

  = form_tag login_post_path, :id => :login do

    %div.row
      %div.five.columns
        = label_tag(:email, _('Email'), :class => [:right, :inline])
      %div.seven.columns.end
        = text_field_tag(:email)

    %div.row
      %div.five.columns
        = label_tag(:password, _('Password'), :class => [:right, :inline])
      %div.seven.columns.end
        = password_field_tag(:password)

    %div.row
      %div.five.columns
        = label_tag(:remember_me, _('Remember me'), :class => [:right, :inline])
      %div.seven.columns
        = check_box_tag(:remember_me)

    .actions.right
      = submit_tag(_('Sign in'), :class => [:button, :small, :radius], :id => :submit_login)
