= title _('Get in touch with us')

#page
  .eight.columns
    %p
      = _('Use the form below to ask us about Courseware, or report issues/feedback.')
      = _('For us this is really important, and we will try to get back to every sender in shortest time possible.')
    %p.align-right
      %em
        = _('Thank you. The Courseware Project team.')

    = form_tag feedback_home_path, :id => :contact do
      .row
        .three.columns
          = label_tag(:name, _('Name'), :class => [:right, :inline])
        .nine.columns.end
          = text_field_tag(:name, logged_in? ? current_user.name : nil, :required => true)

      .row
        .three.columns
          = label_tag(:email, _('Email'), :class => [:right, :inline])
        .nine.columns.end
          = text_field_tag(:email, logged_in? ? current_user.email : nil, :type => :email, :required => true)

      .row
        .three.columns
          = label_tag(:category, _('This is about'), :class => [:right, :inline])
        .nine.columns.end
          = select_tag(:category, options_for_select(@categories), :required => true)

      .row
        .three.columns
          = label_tag(:message, _('How can we help?'), :class => [:right, :inline])
        .nine.columns.end
          = text_area_tag(:message, nil, :rows => 7, :required => true)

      .row
        - val1 = rand(0..9)
        - val2 = rand(0..9)
        .three.columns
          = label_tag(:sum, ('%d + %d = ?' % [val1, val2]), :class => [:right, :inline])
        .nine.columns.end
          = hidden_field_tag(:val1, val1)
          = hidden_field_tag(:val2, val2)
          = text_field_tag(:sum, nil, :required => true, :placeholder => 'Fill in if you are a human')

      .actions
        .row
          .nine.offset-by-three.columns.end
            .row
              .four.columns
                = submit_tag(_('Send it'), :class => 'button primary', :id => :submit_contact)


  .four.columns.sidebar
    %h5
      Find us on web

    %hr

    .row
      .one.column
        %i.general.foundicon-mail
      .eleven.columns.end
        %a{:href => 'mailto:hello@coursewa.re'}
          hello at coursewa.re

    .row
      .one.column
        %i.social.foundicon-twitter
      .eleven.columns.end
        %a{:href => 'http://twitter.com/coursewa_re'}
          @coursewa_re

    .row
      .one.column
        %i.social.foundicon-github
      .eleven.columns.end
        %a{:href => 'http://github.com/courseware'}
          github.com/courseware

    .row
      .one.column
        %span{:style => 'font-size: 18px'}
          &#9996;
      .eleven.columns.end
        %a{:href => 'http://angel.co/courseware'}
          angel.co/courseware

