= title _('Your Profile')

.seven.columns

  = form_for @user do |f|

    .row
      .form-field{:class => @user.errors.messages[:first_name] ? :error : nil}
        .three.columns
          = f.label(:first_name, _('First Name'), :class => [:right, :inline])
        .nine.columns.end
          = f.text_field(:first_name)

    .row
      .form-field{:class => @user.errors.messages[:last_name] ? :error : nil}
        .three.columns
          = f.label(:first_name, _('Last Name'), :class => [:right, :inline])
        .nine.columns.end
          = f.text_field(:last_name)

    .actions
      .row
        .nine.offset-by-three.columns.end
          .row
            .four.columns
              = f.submit(_('Update'), :class => 'button primary', :id => :submit_profile)

= render(:partial => 'sidebar')
