= title _('Your account')

- user_plan = current_user.plan
- plan = Courseware.config.plans[user_plan.slug.to_sym]

#account
  .seven.columns

    %h4
      = _('Subscription plan: %s') % user_plan.slug
    %hr

    %p.smaller.align-right
      = _('You started using it on %s') % user_plan.updated_at.to_s(:pretty)
    %p
      = _('This includes the following:')

    .row
      .formatted
        %ul
          %li
            - unless user_plan.expires_in.nil?
              = _('Expires on %s') % user_plan.expires_in.to_s(:pretty)
            - else
              = _('Forever free!')
          %li
            = _('%d allowed classrooms') % user_plan.allowed_classrooms
          %li
            = _('%d allowed collaborators') % user_plan.allowed_collaborators
          %li
            = _('%s of allowed space for uploads') % number_to_human_size(user_plan.allowed_space, :locale => :en)

      %hr
      .seven.columns
        %h5.marginless-top
          = _('Monthly cost: %s') % number_to_currency(plan[:cost])
      .five.columns.end.align-right
        %span.button.disabled
          = _('Upgrade')

= render(:partial => 'account_sidebar')
