= title _('You are a moment away from being able to login')

.seven.columns.centered

  = form_for @user, :url => signup_post_path do |f|

    .row
      .form-field{:class => @user.errors.messages[:email] ? :error : nil}
        .three.columns
          = f.label(:email, _('Email'), :class => [:right, :inline])
        .seven.columns.end
          = f.text_field(:email, :type => :email, :required => true)

    .row
      .form-field{:class => @user.errors.messages[:password] ? :error : nil}
        .three.columns
          = f.label(:password, _('Password'), :class => [:right, :inline])
        .seven.columns.end
          = f.password_field(:password, :required => true, :min => 6)

    .row
      .three.columns
        = f.label(:password_confirmation, _('Confirm'), :class => [:right, :inline])
      .seven.columns.end
        = f.password_field(:password_confirmation, :required => true, :min => 6)

    .actions
      .row
        .seven.offset-by-three.columns.end
          .row
            .four.columns
              = f.submit(_('Sign me up!'), :class => 'button primary', :id => :submit_signup)
            .seven.offset-by-one.columns
              .align-to-button.align-right
                = link_to(_('I just need to login...'), login_path)
