= title _('Start a new classroom')
= head_embed javascript_include_tag('editor')
= head_embed stylesheet_link_tag('editor')

.row
  .eight.columns.centered
    = form_for(@new_classroom, :url => start_classroom_path) do |f|
      %p
        = f.label :title, _('Classroom Title')
        = f.text_field :title, :required => true

      %p
        = f.label :description, _('Classroom Description')
        = f.text_area :description, :class => 'wysiwyg-minimal', :required => true

      %p
        = f.submit _('Start now!'), :id => 'submit_new_classroom', :class => 'button radius secondary'
