.four.columns
  .row.sidebar

    %h5
      = _('About collaborators')

    %hr

    %p
      = _('Collaborators act as teachers in your classroom.')
      = _('They can build and edit content pages just as you.')
    %p
      = _('They can not add members, collaborators or change classroom settings or customize it.')

    %p
      = _('This page also includes the full list of your current classroom collaborators.')

    %p
      = _('If email is already registered the user will be added to the classroom collaborators.')

    %p
      =_(' If email is not registered, an invitation will be sent and the user will be added to classroom collaborators after registration.')
