= title _('Manage classroom collaborators')

= head_embed javascript_include_tag('jquery_ujs')

#collaborations
  .eight.columns

    = render('shared/classroom_customization_tabs')

    - if can?(:create, @classroom.collaborations.build)
      = form_tag(collaborations_path, :id => 'new_collaboration') do
        %p
          = _('Add collaborators by typing their email address below. They will receive an email to join.')

        = email_field_tag :email, nil, :required => true

        %p
          = submit_tag _('Add collaborator'), :id => 'submit_collaboration', :class => 'button primary'
    - else
      %p
        = _('Your subscription plan does not allow adding new collaborators.')
      %p
        = link_to(_('Check your plan usages or upgrade.'), my_account_users_url(:subdomain => false))

    %h4
      = _('%d collaborators') % @classroom.collaborations_count
    %hr

    - if @classroom.collaborations.reload.empty?
      %p
        = _('No collaborators were added.')
    - else
      %ul#collaborators-list.inline-list
        - @classroom.collaborations.each do |collab|
          %li
            .avatar.left
              = gravatar_image_tag(collab.user.email, :alt => collab.user.name, :gravatar => {:size => 30})
            %p
              - if can?(:destroy, collab)
                %a.icon-remove.right{:href => collaboration_path(collab), 'data-method' => :delete, :id => "remove-collaboration-#{collab.id}"}
              = collab.user.name
              %br
              %span.smaller
                = collab.user.email

  = render(:partial => 'sidebar')
