= _('Hello from Courseware,')
===============================================================================

= _('You have successfully activated your account: %{name}') % {:name => @user.name}
= _('To login to the site, just follow this link: %{url}') % {:url => @url }


= _('This email was sent to %{email} email owner!') % {:email => @user.email}
= _('If you think this is an error, please ignore this message.')
