%h3
  = _('Hello from Courseware,')

%p
  = _('you have requested to reset your password.')

%p
  != _('To choose a new password, just follow this link: <a href="%{url}">%{url}</a>') % {:url => @url}

%br/
%p
  %small
    != _('This email was sent to <code>%{email}</code> email owner!') % {:email => @user.email}
  %br/
  %small
    = _('If you think this is an error, please ignore this message.')
