= _('Hello from Courseware,')
===============================================================================

= _('You have requested to reset your password.')
= _('To choose a new password, just follow this link: %{url}') % {:url => @url}


= _('This email was sent to %{email} email owner!') % {:email => @user.email}
= _('If you think this is an error, please ignore this message.')
