.four.columns
  .row.sidebar
    - if can?(:contribute, @classroom)
      = render('sidebar_collaborator')
    - else
      %h5
        = _('About this lecture')
      %hr

      %p.smaller
        = _('Last time updated by %s on %s') % [@lecture.user.name, @lecture.updated_at.to_s(:pretty)]

      %h5
        = pluralize(@lecture.assignments.count, _('lecture assignment'), _('lecture assignments'))
      %hr

      - unless @lecture.assignments.count > 0
        %p
          = _('No assignments were added yet.')

      %ul.itemized.assignments-listing
        - @lecture.assignments.each do |assignment|
          - response = current_user.responses.where(:assignment_id => assignment.id)
          %li
            = link_to(assignment.title, lecture_assignment_path(@lecture, assignment))
            = link_to('', '#', :class => 'icon-plus right expands', 'data-expand-target' => '.assignment-details', 'data-toggle-class' => 'icon-minus')
            %p.assignment-details.smaller.hide
              - if response.empty?
                != _('You did not respond yet to this assignment. %s.') % link_to(_('You can do it now'), new_lecture_assignment_response_path(@lecture, assignment))
              - else
                != _('You have responded to this assignment. %s.') % link_to(_('You can review the response'), lecture_assignment_response_path(@lecture, assignment, response.first))
