= title _('Update lecture')
= head_embed javascript_include_tag('editor')
= head_embed stylesheet_link_tag('editor')

.row#lecture
  .seven.columns

    = form_for(@lecture, :url => lectures_path) do |f|
      %p
        = f.label :title, _('Title')
        = f.text_field :title, :required => true

      %p
        = f.label :parent_lecture_id, _('Parent lecture')
        = f.select :parent_lecture_id, @lectures, { :include_blank => _('No parent lecture') }

      %p
        = f.label :requisite, _('Requisites')
        = f.text_area :requisite, :class => 'wysiwyg-minimal', :required => true

      %p
        = f.label :content, _('Content')
        = f.text_area :content, :class => 'wysiwyg-full', :required => true

      %p
        = hidden_field_tag :assetable_type, @lecture.class, :class => 'assetable_type'
        = hidden_field_tag :assetable_id, @lecture.id, :class => 'assetable_id'
        = f.submit _('Create'), :id => 'submit_syllabus', :class => 'button radius secondary'
        = link_to _('Cancel'), syllabus_path, :class => 'pull right'

  = render(:partial => 'sidebar')
