= title _('Editing assignment')
= head_embed javascript_include_tag('edit_assignment')
= head_embed javascript_include_tag('editor')
= head_embed stylesheet_link_tag('editor')
= breadcrumbs(render('editor_breadcrumbs'))

#assignment
  .eight.columns

    = form_for(@assignment, :url => lecture_assignment_path(@lecture, @assignment)) do |f|
      %p
        = f.label :title, _('Title')
        = f.text_field :title, :required => true

      %p
        = f.label :content, _('Content')
        = f.text_area :content, :class => 'wysiwyg-full', :required => true

      %p
        - expanded_class = (@assignment.quiz.blank? ? '' : 'expanded')
        = check_box_tag :has_quiz, nil, (@assignment.quiz.blank? ? false : true), :class => ['expands left marginless-top', expanded_class], 'data-expand-target' => '.quiz-builder', 'data-look-allover' => 'true', 'data-toggle-class' => 'expanded'
        = label_tag :has_quiz, _('Add a quiz to this assignment')

      .hide.quiz-builder{'data-quiz' => :auto, 'data-from-store' => :true}
        = f.hidden_field :quiz, :value => @assignment.quiz.to_json, :class => 'quiz-store'
        = render(:partial => 'quiz_builder_template')

      %p
        = hidden_field_tag :assetable_type, @assignment.class, :class => 'assetable_type'
        = hidden_field_tag :assetable_id, @assignment.id, :class => 'assetable_id'
        = f.submit _('Update'), :id => 'submit_assignment', :class => 'button primary'
        = link_to _('Cancel'), lecture_assignment_path(@lecture, @assignment), :class => 'pull right'

  = render('sidebar')
