= title _(@assignment.title)
= head_embed javascript_include_tag('./lib/jquery.quizbuilder')

.row#assignment
  .seven.columns

    = @assignment.content.html_safe

    - if can?(:manage, @assignment) and !@assignment.quiz.empty?
      %div.quiz-viewer{'data-quiz' => :auto, 'data-from-store' => :true}
        = hidden_field_tag :quiz, @assignment.quiz.to_json, :class => 'quiz-store'
        = render(:partial => 'quiz_viewer_template')
    - else
      -# TODO: Add response link
      = link_to(_('Leave a response'), '#', :class => 'button radius assignment-add-response')
      -# = link_to(_('Leave a response'), edit_lecture_assignment_path(@lecture, @assignment), :class => 'assignment-update')

    %p
      %small
        = link_to(_('Update'), edit_lecture_assignment_path(@lecture, @assignment), :class => 'assignment-update')

  = render(:partial => 'sidebar')
