= title _(@assignment.title)
= breadcrumbs(render('breadcrumbs'))

#assignment
  .eight.columns.formatted

    = auto_oembed(@assignment.content).html_safe

    - if can?(:manage, @assignment) and !@assignment.quiz.blank?
      %h5
        = _('Quiz preview')

      %div.quiz-viewer
        - @assignment.quiz.each do |question|
          = render(:partial => "quiz_#{question['type']}", :locals => {:question => question})

  = render(:partial => 'sidebar')
