= title _(@assignment.title)
= breadcrumbs(render('breadcrumbs'))

#assignment
  .eight.columns.formatted

    = @assignment.content.html_safe

    - if can?(:manage, @assignment) and !@assignment.quiz.blank?
      %div.quiz-viewer
        %hr
        - @assignment.quiz.each do |question|
          = render(:partial => "quiz_#{question['type']}", :locals => {:question => question})

    - if can?(:manage, @assignment)
      %p
        = link_to(_('Update'), edit_lecture_assignment_path(@lecture, @assignment), :class => 'button small primary', :id => 'assignment-update')
    - else
      %p
        = link_to(_('Leave a response'), new_lecture_assignment_response_path(@lecture, @assignment), :class => 'button primary', :id => 'assignment-add-response')


  = render(:partial => 'sidebar')
