= title _('Add a new grade')

.row#lecture
  .seven.columns

    = form_for(@grade, :url => lecture_assignment_grade_path) do |f|
      .row
        .two.columns
          %p
            = f.label :mark, _('Grade')
            = f.text_field :mark, :required => true

        .three.columns
          %p
            = f.label :form, _('Format')
            = f.select :form, @forms, :required => true

        .six.offset-by-one.columns
          %p.avatar
            = f.label :receiver, _('Graded user')
            = gravatar_image_tag(@grade.receiver.email, :alt => @grade.receiver.name, :gravatar => { :size => 20 })
            = @grade.receiver.name

      %p
        = f.label :comment, _('Leave a comment')
        = f.text_area :comment

      %p
        = f.submit _('Save'), :id => 'update_grade', :class => 'button primary'
        = link_to _('Cancel'), lecture_assignment_grades_path, :class => 'pull right'

  = render(:partial => 'sidebar')
