= title _('Hello and welcome')

.seven.columns.centered

  = form_tag login_post_path, :id => :login do

    .row
      .three.columns
        = label_tag(:email, _('Email'), :class => [:right, :inline])
      .seven.columns.end
        = text_field_tag(:email, nil, :type => :email, :required => true)

    .row
      .three.columns
        = label_tag(:password, _('Password'), :class => 'right inline marginless-bottom')
      .seven.columns.end
        = password_field_tag(:password, nil, :required => true, :class => 'marginless-bottom')

    .row
      .seven.offset-by-three.columns.end
        = check_box_tag(:remember_me, nil, false, :class => 'left')
        = label_tag(:remember_me, _('Remember me on this computer'), :class => 'smaller')

    .actions
      .row
        .seven.offset-by-three.columns.end
          .row
            .four.columns
              = submit_tag(_('Login'), :class => 'button primary', :id => :submit_login)
            .seven.offset-by-one.columns
              .align-to-button.align-right
                = link_to(_('Lost password?'), new_password_path)
      .row
        .seven.offset-by-three.columns.end
          .row
            .twelve.columns
              = link_to(_('You might want to create a new user...'), signup_path)
