- if can?(:contribute, @classroom)
  - files_count = @classroom.assets.count
- else
  - files_count = @classroom.assets.where(:user_id => current_user.id).count

.row
  .twelve.columns
    %ul
      %li{:class => (current_page?(dashboard_classroom_path) ? 'current' : '')}
        = link_to(_('Timeline'), dashboard_classroom_path)
      %li{:class => (request.fullpath.match(/syllabus|lecture/) ? 'current' : '')}
        = link_to(_('Syllabus'), syllabus_path)

      - if files_count > 0
        %li{:class => (current_page?(files_path) ? 'current' : '')}
          = link_to(_('%d Files') % files_count, files_path)

      %li{:class => (current_page?(staff_classroom_path) ? 'current' : '')}
        = link_to(_('Staff'), staff_classroom_path)

      %li{:class => (current_page?(stats_classroom_path) ? 'current' : '')}
        = link_to(_('Stats'), stats_classroom_path)
