.feedback
  #feedbackModal.reveal-modal.medium.hide
    %a{:class => 'close-reveal-modal'}
      &#215;

    %h4
      = _('Hey %s,') % current_user.name
    %p
      = _('please tell us what would make Courseware better!')

    = form_tag survey_home_url(:subdomain => false), :id => 'survey' do
      .row
        .six.columns
          .row
            = radio_button_tag(:category, :force_majeure, nil, :class => 'left inline')
            = label_tag(:category_force_majeure, _('Errors or unexpected behavior'), :class => 'smaller left inline marginless-bottom')
          .row
            = radio_button_tag(:category, :ui_ux, true, :class => 'left inline')
            = label_tag(:category_ui_ux, _('Interface and design'), :class => 'smaller left inline marginless-bottom')
        .six.columns
          .row
            = radio_button_tag(:category, :features, nil, :class => 'left inline')
            = label_tag(:category_features, _('Suggestions and features'), :class => 'smaller left inline marginless-bottom')
          .row
            = radio_button_tag(:category, :other, nil, :class => 'left inline')
            = label_tag(:category_other, _('Other issues'), :class => 'smaller left inline marginless-bottom')

      = hidden_field_tag(:current_path, request.url)
      = text_area_tag(:message, nil, :required => true, :placeholder => _('Hey guys, check this out...'))

      = submit_tag(_('Send this'), :class => 'button small primary', :id => 'submit_survey')
