= title  _('%s classroom images and uploads') % @classroom.title

= head_embed javascript_include_tag('jquery_ujs')

#files
  .eight.columns
    - if @assets.empty?
      %p
        = _('No files were uploaded yet.')
    - else
      = render('listing')

  = render(:partial => 'sidebar')
