.four.columns
  .row.sidebar
    - if can?(:contribute, @classroom)
      = render('sidebar_collaborator')
    - else

      %h5
        = _('About this classroom')
      %hr

      - if @classroom.syllabus
        = simple_format(@classroom.syllabus.intro)

      %h5
        = _('Your progress')
      %hr

      - responses_count = current_user.responses.where(:classroom_id => @classroom.id).count
      - assignments_count = @classroom.assignments.count
      - coverage = ((responses_count * 100) / assignments_count) if assignments_count > 0

      .nice.success.progress
        %span.meter{:style => "width: #{coverage.to_i}%"}

      %p.smaller.align-center
        = _('%d responses out of %d assignments') % [responses_count, assignments_count ]
