.four.columns
  .row.sidebar

    %h5
      = _('About this classroom')

      - if can?(:update, @classroom)
        %a.icon-settings.right{:href => edit_classroom_path}

    %hr

    - responses_count = current_user.responses.where(:classroom_id => @classroom.id).count
    - assignments_count = @classroom.assignments.count
    - coverage = ((responses_count * 100) / assignments_count) if assignments_count > 0

    %ul
      %li
        = _('%d members') % @classroom.memberships_count
      %li
        = _('%d lectures') % @classroom.lectures.count
      %li
        = _('%d assignments') % assignments_count
      %li
        = _('%d responses') % responses_count
      %li
        = _('%d grades') % @classroom.grades.count

    - if cannot?(:contribute, @classroom) and assignments_count > 0
      %h5
        = _('Your progress')
      %hr

      .nice.success.progress
        %span.meter{:style => "width: #{coverage.to_i}%"}

      %p.smaller.align-center
        = _('%d responses out of %d assignments') % [responses_count, assignments_count ]
