= title  _('Timeline for %s') % @classroom.title

#activities
  .eight.columns

    - if can?(:contribute, @classroom)
      = form_tag(announce_classroom_path, :id => :announce) do
        = text_area_tag(:announcement, nil, :required => true, :placeholder => _('Post an announcement for this classroom...'))
        .row
          .twelve.columns
            = submit_tag(_('Publish'), :class => 'button small primary', :id => :submit_announcement)

    - @timeline.each do |event|
      .row
        .two.columns.author.avatar
          = gravatar_image_tag(event.owner.email, :alt => event.owner.name)

        .ten.columns.end.activity
          = render_activity(event, :current_user => current_user)

  = render(:partial => 'sidebar')
