= title _('Customize %s') % @classroom.title
= head_embed javascript_include_tag('editor')
= head_embed stylesheet_link_tag('editor')

#classroom
  .eight.columns

    = render('shared/classroom_customization_tabs')

    = form_for(@classroom, :url => classroom_path) do |f|
      .row
        .two.columns
          = f.label :title, _('Title'), :class => 'right inline'
        .ten.columns
          = f.text_field :title, :required => true

      .row
        .two.columns
          = f.label :slug, _('Sub-domain'), :class => 'right inline'
        .ten.columns
          .row.collapse
            .eight.columns
              = f.text_field :slug, :placeholder => _('Leave empty to be generated, minimum length 4, maximum 32.')
            .four.columns
              %span.postfix
                = ".#{Courseware.config.domain_name}"

      .row
        .two.columns
          = f.label :description, _('Description'), :class => 'right inline'
        .ten.columns
          = f.text_area :description, :class => 'wysiwyg-minimal', :required => true

      .row
        .two.columns
          = f.label :header_image, _('New header'), :class => 'right inline'
        .ten.columns
          = f.file_field :header_image
          %em.smaller
            = _('Should be at least %{width}px wide and %{height}px high.') % Courseware.config.header_image_size

      .row
        .ten.offset-by-two.columns
          = f.submit _('Update'), :id => 'edit_classroom', :class => 'button primary'

  = render(:partial => 'edit_sidebar')
