= title _('Start a new classroom')

.seven.columns

  = form_for(@new_classroom, :url => start_classroom_path) do |f|

    .row
      .three.columns
        = f.label :title, _('Name it'), :class => [:right, :inline]
      .nine.columns.end
        = f.text_field :title, :arequired => true

    .row
      .three.columns
        = f.label :description, _('Short description'), :class => [:right, :inline]
      .nine.columns.end
        = f.text_area :description, :rows => 3, :arequired => true

    .actions
      .row
        .nine.offset-by-three.columns.end
          .row
            .four.columns
              = f.submit _('Start now!'), :id => 'submit_new_classroom', :class => 'button primary'
