= title _("Email settings for %s") % @classroom.title

#privacy
.eight.columns
  %h3
    Privacy settings
  %p
    = form_for :email_announcement, :url => update_privacy_classroom_path do |f|
      - @email_settings.each do |key, value|
        = f.check_box key, {:checked => eval(value)}, "true", "false"
        = f.label key
      = f.submit "Update", :class => "button primary"
