.four.columns
  .row.sidebar

    %h5
      = _('About members')

    %hr

    %p
      = _('Members act as students in your classroom.')
      = _('They respond to assessments and can receive grades.')

    %p
      = _('This page also includes the full list of your current classroom members.')

    %p
      = _('If email is already registered the user will be added to the classroom.')

    %p
      =_(' If email is not registered, an invitation will be sent and the user will be added to classroom members after registration.')
