Name:
= @params[:name]

Email:
= @params[:email]

IP Address:
= @params[:remote_ip]

Current path:
= @params[:current_path]
===============================================================================

Message:
= @params[:message]
