!!! 5
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : _('Welcome')
      &bull;
      = _('The Courseware Project')

    = favicon_link_tag('/favicon.png', :type => 'image/png')

    %meta{ :charset => 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }
    %meta{ :name => 'viewport', :content => 'width=device-width' }
    %meta{ :name => :generator, :content => 'Coursewa.re' }

    /[if lt IE 9]
      %script{ :src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js' }

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = yield(:head_embed) if content_for?(:head_embed)
    = csrf_meta_tags

    = header_image || default_header_image

  %body{:class => (!@classroom.nil? ? 'customized' : '')}
    %header{:role => :banner}
      %nav{:role => :navigation}
        = render('shared/topbar')
      #heading
        .custom
        %h2
          = yield(:title)

    - unless @classroom.nil? || @classroom.new_record?
      %nav#classroom-menu
        = render('shared/classroom_menu')

    .wrap
      %section#content{:role => :main}
        %div.row{ :id => "#{controller.action_name}-#{controller.controller_name}"}
          = render('shared/alerts')

          - if !@classroom.nil? and content_for?(:breadcrumbs)
            #breadcrumbs
              = yield(:breadcrumbs)

          = yield

  = render('shared/footer')
