.four.columns
  .row.sidebar
    %h5
      - if can?(:update, @syllabus)
        %a.icon-edit.right{:href => edit_syllabus_path, :title => _('Update syllabus')}
      = _('Classroom syllabus')
    %hr

    - unless @syllabus.new_record?
      %p.smaller
        = _('Last time updated by %s on %s') % [@syllabus.user.name, @syllabus.updated_at.to_s(:pretty)]

      - unless @classroom.lectures.empty?
        %p
          = _('There are %d lectures with a total of %d assignments.') % [@classroom.lectures.count, @classroom.assignments.count]
      %p
        = link_to(_('Jump to course structure'), '#lectures-tree')
    - else
      %p
        = _('Start by updating the classroom syllabus.')


    - if @classroom.lectures.empty?
      - if @classroom.syllabus.nil?
        %p
          = link_to(_('Add your first lecture'), new_lecture_path)
    - else
      %h5
        - if can?(:manage, @classroom.lectures.build)
          %a.icon-feather.right{:href => new_lecture_path, :title => _('Create a new lecture')}
        = _('Lectures')
      %hr

      %ul
      - @classroom.lectures.reload.each do |lecture|
        - unless lecture.parent_lecture
          %li.no-listing-style
            - unless lecture.child_lectures.empty?
              = link_to('', '#', :class => 'icon-plus right expands', 'data-expand-target' => 'p.smaller', 'data-toggle-class' => 'icon-minus')

            = link_to(truncate(lecture.title, :length => 37), lecture_path(lecture))
            - unless lecture.child_lectures.empty?
              %p.marginless-bottom.smaller.hide
                - lec_count = lecture.child_lectures.count
                - lec_title = pluralize(lec_count, _('more lecture'), _('more lectures'))
                - lec = lecture.child_lectures.sample
                - lec_link = link_to(lec.title, lecture_path(lec))
                %em
                  != _('...%s. And %s, including %s.') % [lecture.title[34..-1], lec_title, lec_link]
