.four.columns
  .row.sidebar
    %h5
      = _('Classroom syllabus')
    %hr

    - unless @syllabus.new_record?
      %p.smaller
        = _('Last time updated by %s on %s') % [@syllabus.user.name, @syllabus.updated_at.to_s(:pretty)]

      - unless @lectures.empty? or @classroom.assignments.empty?
        %p
          = _('There are %d lectures with a total of %d assignments.') % [@lectures.count, @classroom.assignments.count]
      %p
        = link_to(_('Jump to course structure'), '#lectures-tree')
    - else
      %p
        = _('Start by updating the classroom syllabus.')
