= title _('Classroom Syllabus')

#syllabus
  .eight.columns.formatted
    - unless @syllabus.new_record?
      %h3
        = @syllabus.title

      .panel
        %p
          = @syllabus.intro

      = @syllabus.content.html_safe

    - else
      = link_to(_('Update Classroom Syllabus'), edit_syllabus_path, :class => 'syllabus-create')

    - unless @lectures.blank?

      %h3
        = _('Course structure')

      %ul#lectures-tree.hierarchical-list
        = list_lectures_tree(@lectures)


  = render(:partial => 'sidebar')
