= title _('Classroom Syllabus')

#syllabus
  .eight.columns.formatted
    - unless @syllabus.new_record?
      %h3
        = @syllabus.title

      .panel
        %p
          = @syllabus.intro

      = @syllabus.content.html_safe

    - else
      = link_to(_('Update Classroom Syllabus'), edit_syllabus_path, :class => 'syllabus-create')

    - unless @lectures.blank?
      -# TODO: organize this as a tree by parent lecture

      %h3 Course structure
      %ul#lectures-tree
        - @lectures.each do |lecture|
          %li
            = link_to(lecture.title, lecture_path(lecture))

  = render(:partial => 'sidebar')
