= title _('Classroom Syllabus')

.row#syllabus
  .seven.columns
    - if @syllabus
      %h1
        = @syllabus.title
      %hr
      %small
        = @syllabus.intro
      %hr
        = @syllabus.content.html_safe

      - if @lectures and !@lectures.empty?
        -# TODO: organize this as a tree by parent lecture

        %h3 Course structure
        %ul#lectures-tree
          - @lectures.each do |lecture|
            %li
              = link_to(lecture.title, lecture_path(lecture))

    - else
      = link_to(_('Update Classroom Syllabus'), edit_syllabus_path, :class => 'syllabus-create')

  = render(:partial => 'sidebar')
