!!! 5
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'Welcome'
      &bull; Coursewa.re
    %meta{ :charset => 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }
    %meta{ :name => 'viewport', :content => 'width=device-width' }
    %meta{ :name => :generator, :content => 'Coursewa.re' }
    /[if lt IE 9]
      %script{ :src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js' }

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body.off-canvas
    %header
      %div#topbar
        = render('shared/topbar')
      %div#header
        = render('shared/header')

    %section#content{ :role => :main }
      %div.row
        = render('shared/alerts')
        = yield

    %footer
      %div.row
        %div#copyright.right
          %p ~2012 &copy; Coursewa.re
